<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cxf="http://cxf.apache.org/core" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"

	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd 
	http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<jaxrs:server id="employeeServiceServer" address="/employeeservice">
		<jaxrs:serviceBeans>
			<ref bean="employeeService" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<bean id="dataConnection" class="com.citi.model.DBConnection">
		<property name="url" value="jdbc:mysql://localhost:3306/employee?useUnicode=true&amp;characterEncoding=utf-8"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	
	<bean id="employeeDAO" class="com.citi.model.EmployeeDAO"> 
		<property name="dbConnection" ref="dataConnection"></property>
	</bean>
	<bean id="employeeService" class="com.citi.service.EmployeeService"> 
		<property name="employeeDAO" ref="employeeDAO"></property>
	</bean>
</beans>